.img--slide {
  .first-slider {
    margin-bottom: 35px;
    div {
      display: inline-block;
    }
    div + div {
      margin-left: 39px;
    }
  }

  .last-slider {
    div {
      display: inline-block;
    }
    div + div {
      margin-left: 39px;
    }
  }
}
// === end of image slide section===

// === start of story banner section===
.story-banner {
  padding-top: 34px;
  .text-holder {
    .story-text {
      text-align: center;
      margin-bottom: 50px;
      div {
        span {
          color: #434850;
          font-size: 11.82px;
          font-family: "Syne", sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        span + span {
          font-weight: 500;
          margin-left: 10.75px;
        }
      }
      h1 {
        color: #000;
        font-size: 64px;
        font-family: "Syne", sans-serif;
        font-weight: 700;
        line-height: 67.52px;
        letter-spacing: -1px;
        text-transform: capitalize;
        margin: 10px 0;
      }
      p {
        color: #000;
        font-size: 28px;
        font-family: "DM Sans";
        font-weight: normal;
        line-height: 39px;
      }
    }
    .story-profile_box {
      max-width: 172px;
      margin: 0 auto;
      text-align: center;
      div {
        max-width: 78px;
        margin: 0 auto 10px auto;
      }
      p.name {
        color: #000;
        font-size: 15px;
        font-family: "Syne", sans-serif;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        line-height: 24px;
      }
      p + p {
        color: #000;
        font-size: 16px;
        font-family: "DM Sans";
        font-weight: normal;
        line-height: 26px;
        text-transform: capitalize;
        margin: 5px 0;
      }
      span {
        color: #434850;
        font-size: 11.82px;
        font-family: "Syne", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
// ===  end of story banner===

// === start fo title text section===
.title--text {
  padding: 70px 0;
  h3,
  p {
    color: #000;
    font-size: 24px;
    font-family: "DM Sans";
    font-weight: normal;
    line-height: 32px;
  }
  p {
    font-size: 18px;
    margin-top: 25px;
  }
}
// === end fo title text section===

// === start of info text section===
.info-text {
  background-color: #f1f1f1;
  padding: 50px 0;
  .text-holder {
    p.text {
      color: #000;
      font-size: 18px;
      font-family: "DM Sans";
      font-weight: normal;
      line-height: 26px;
      margin-bottom: 24px;
    }
    p.name {
      color: #000;
      font-size: 15px;
      font-family: "Syne", sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    span {
      color: #000;
      font-size: 16px;
      font-family: "DM Sans";
      font-weight: normal;
      line-height: 26px;
      text-transform: capitalize;
    }
  }
}
// === end of info text section===

// === start of text section===
.text {
  padding: 70px 0;
  .text-holder {
    p {
      color: #000;
      font-size: 18px;
      font-family: "DM Sans";
      font-weight: normal;
      line-height: 32px;
    }
  }
}
// === end of text section===

// === start of img title section===
.img-title {
  .holder {
    .img-title_img-wrap {
      display: flex;
      align-items: center;
      gap: 15.5px;
      .img-title_img {
        max-width: 307px;
      }
    }
    p {
      color: #000;
      font-size: 15px;
      font-family: "Syne", sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-top: 15px;
    }
  }
}
// === end of img title section===

//  === start of image section===
.image {
  .text-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    .image_img {
      max-width: 258px;
    }
  }
}
